.modal-overlay {
  position: fixed;
  /* 
  left: 0px;
  right: 0px; */
  top: 0px;
  bottom: 0px;
  left: 51%;
  margin: auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 8px;
}

.modal {
  background: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 70vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
  width: 500px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;

  .close-button {
    background: rgba(155, 155, 155, 0.151);
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border-radius: 50px;
    padding: 3px 5px;
    width: fit-content;
    height: fit-content;
  }
  .close-button:hover {
    color: #000;
  }

  .contentFile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 5px;
    .title {
      font-size: 16px;
      color: #000;
      text-align: center;
      margin: 0px;
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  gap: 10px;

  .guardar-button {
    background: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    transition: all 0.4s ease-in-out;
  }
  .guardar-button:hover {
    background: transparent;
    color: #000;
  }
  #buttonBlack {
    border: 1px solid rgb(146, 146, 146);
  }
}

.modal-content {
  height: 80%;
  overflow-y: auto;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: 100%;
}

#row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  .containerRow {
    display: flex;
    flex-direction: column;    
  }
}
.cardContainer {
  width: 100%;

  .cardBody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.cardSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 4px;
  padding: 5px;
  .btnCard {
    background: rgb(238, 238, 238);
    padding: 0 5px;
    color: #000;
    margin-left: 5px;
    transition: all .4s ease-in-out;
  }
  .btnCard:hover{
    background: rgb(190, 190, 190);
  }
}
