@import "../../styles.scss";

.search-container {
  .btn-search {
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;

    border-radius: 2rem;
    width: 140px;
    height: 32px;
    color: #000;
    background: #fff;
  }

  .btn-search:hover {
    transition: all 0.2s;
    cursor: pointer;
  }

  .search-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;

    border-radius: 2rem;
    width: 480px;
    height: 50px;
  }

  .input-container {
    display: flex;
    justify-content: flex-end;
    height: 30px;
  }
  .input-container button {
    display: flex;
    align-items: center;
    background-color: #8b008b;
    border-radius: 50%;
    color: #fff;
    display: flex;
    padding: 0.35rem 1rem;
    justify-content: center;
    width: 35px;
    height: 32px;
    position: absolute;
  }

  .input-container input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;
    border-radius: 1rem; /* Bordes más redondeados */
    width: 300px;
    height: 32px;
    border: 1px solid #ccc; /* Grosor y color del borde */
    outline: none;
  }

  .input-container input:focus {
    transition: all 0.2s;
  }

  .vertical-line {
    border-left: 1px solid #ccc; /* Establece el borde izquierdo como una línea sólida de 1 píxel y color gris (#ccc) */
    height: 100%; /* Establece la altura al 100% del contenedor */
  }

  .search-span input {
    background-color: black;
    margin-left: 26.3em;
  }

  .search-icon {
    margin-right: 5px;
  }
}
.search-for h2 {
  text-align: center;
  margin-top: 50px;
}

.container-modal-filter {
  width: 100%;
  height: 100vh;
}
.x-search {
  height: 8vh;
  text-align: end;
  margin: 0px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
}
.content-input-search {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-filter-card {
  height: 80vh;
}

@media screen and (max-width: 1023px) {
  .search-container {
    margin-top: -5px;

    .btn-search {
      width: 320px;
      height: 30px;
    }
  }
  .container-modal-filter {
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 767px) {
  .search-container {
    .btn-search {
      display: none;
    }

    .search-icon {
      font-size: 16px;
    }
  }
}
